

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Activity has been successfully started! @DateTime.Now.ToString("d. M. yyy. hh:mm:ss")
    </p>
</div>