@model BindedDocumentVM

<div class="row">
    @Html.HiddenFor(m => m.Id, new { @class = "binded" })
    <div class="input-group mb-3 col">
        <div class="col-form-label" style="margin: 0 0.5rem 0 0;">
            Type name:
        </div>
        <input id="Outputs_@(Model.Id)__Type"
               name="Outputs[@(Model.Id)].Type"
               class="form-control" type="text" value="" />

    </div>
    <div class="input-group mb-3 col">
        <div class="col-form-label" style="margin: 0 0.5rem 0 0;">
            Input operation:
        </div>
        <select class="custom-select"
                id="Outputs_@(Model.Id)__State"
                name="Outputs[@(Model.Id)].State"
                asp-for="State"
                asp-items="@Html.GetEnumSelectList(typeof(STATEVM))"></select>
    </div>
</div>
